.idea/*
venv/*
__pycache__/*
lazygit.exe
*.pyc
game_data.csv
*.log
.ipynb_checkpoints
kmeans_img_compression/images/2_doggo_raw.txt
kmeans_img_compression/images/2_doggo.jpg
kmeans_img_compression/images/5_doggo_raw.txt
kmeans_img_compression/images/5_doggo.jpg
kmeans_img_compression/images/10_doggo_raw.txt
kmeans_img_compression/images/10_doggo.jpg
kmeans_img_compression/images/20_doggo_raw.txt
kmeans_img_compression/images/20_doggo.jpg
kmeans_img_compression/images/50_doggo_raw.txt
kmeans_img_compression/images/50_doggo.jpg
kmeans_img_compression/images/100_doggo_raw.txt
kmeans_img_compression/images/100_doggo.jpg
kmeans_img_compression/images/2_huffman_doggo_raw.txt
kmeans_img_compression/images/2_huffman_naive_doggo_raw.txt
kmeans_img_compression/images/5_huffman_doggo_raw.txt
kmeans_img_compression/images/10_huffman_doggo_raw.txt
kmeans_img_compression/images/20_huffman_doggo_raw.txt
kmeans_img_compression/images/50_huffman_doggo_raw.txt
kmeans_img_compression/images/100_huffman_doggo_raw.txt
kmeans_img_compression/images/2_huffman_doggo_raw.pickle
kmeans_img_compression/images/5_huffman_doggo_raw.pickle
kmeans_img_compression/images/10_huffman_doggo_raw.pickle
kmeans_img_compression/images/20_huffman_doggo_raw.pickle
kmeans_img_compression/images/50_huffman_doggo_raw.pickle
kmeans_img_compression/images/100_huffman_doggo_raw.pickle
