.idea/*
venv/*
__pycache__/*
lazygit.exe
*.pyc
game_data.csv
*.log
.ipynb_checkpoints
kmeans_img_compression/images/*
!kmeans_img_compression/images/doggo/doggo.jpg
!kmeans_img_compression/images/wonderland/wonderland.png
!kmeans_img_compression/images/tapeta/tapeta.png
